<head>
<style>
.header {
  text-align: center;
  margin-top: -30px;
}
.header h1 {
  font-size: medium;
}
body {
  max-width: 75vw;
  margin: auto;
}
</style>
<head>
  
<div class='header'>
  <h1>UNIVERSITY OF PENNSYLVANIA<br>
    DEPARTMENT OF LINGUISTICS</h1>
  
  <p>
    <strong>P.I.:</strong> Gareth Roberts<br>
    <strong>Tel.:</strong> + 1 (215) 746-1942<br>
    <strong>Email:</strong> gareth.roberts@ling.upenn.edu<br>
    <strong>Project Title:</strong> Experimental communication games<br>
  </p>
</div>

<p>
You are being invited to participate in a research study. Your participation is voluntary which means you can choose whether or not you want to participate.
  If you choose not to participate, there will be no loss of benefits to which you are otherwise entitled.
</p>
  
<p><strong>Purpose:</strong> To further our understanding of language.</p>
<p><strong>Length:</strong> Your participation will last between 15 minutes and an hour depending on how long you take. </p>
<p><strong>Procedure:</strong> You will follow on-screen prompts to learn a language called Pinglish.</p>
<p><strong>Risks:</strong> There are no risks or discomforts involved that you would not expect to experience in day-to-day life.</p>
<p><strong>Benefits:</strong> You are not expected to get any benefit from being in this research study. </p>
<p><strong>Alternatives:</strong> If you choose not to participate in this study, you will not be barred from participating in other studies conducted at the University of Pennsylvania.</p>
<p><strong>Compensation:</strong> If you are participating at the University of Pennsylvania, you may be paid in course credit. Otherwise, you will be paid an already agreed rate for participation.</p>
<p>
<strong>Completion/withdrawal:</strong> This study is expected to end after all participants have completed it, and all information has been collected. This study may also be stopped at any time without your consent because: 
  <ol>
    <li>You have not followed study instructions</li>
    <li>You fail to engage with the task</li>
    <li>The Principal Investigator has decided to stop the study.</li>
  </ol>
If you decide not to participate, you are free to leave the study at any time. You will always be rewarded for the time that you participated.
</p>
<p><strong>Confidentiality:</strong>  Your behavior during the experiment will be recorded, and these recordings may be shared with other investigators. However, such data as is shared will not include information that could identify you personally. The investigator and other staff involved with the study will keep your personal information strictly confidential.  Your contact details will be used only if we have follow-up questions concerning the study, and will not be shared with any third parties. </p>
<p><strong>Questions:</strong> If you have questions, concerns or complaints regarding your participation in this research study or if you have any questions about your rights as a research subject, you should contact the Principal Investigator via the platform you are using. If a member of the research team cannot be reached or you want to talk to someone other than those working on the study, you may contact the Office of Regulatory Affairs with any question, concerns or complaints at the University of Pennsylvania by calling (215) 898-2614. </p>


</div>
</div>
