<head>
<style>
h2 {
    font-size: medium;
}
textarea {
    width: 40vw;
    height: 8em;
}
p, textarea {
    margin-bottom: 3em;
}
label.error {
    display: block;
}
strong {
    color: green;
}
</style>
<head>
  
<p>Please answer these last questions before we can validate your participation.<br>
<strong>A link to confirm your participation on Prolific.ac will appear on the next screen.</strong></p>

<h2>What do you think the experiment was about?</h2>

<label class="error" for="whatabout"></label>
<textarea id='whatabout' name='whatabout' class="obligatory"></textarea>


<h2>Did you experience any problems or difficulties in doing the experiment?</h2>

<label class="error" for="problems"></label>
<textarea id='problems' name='problems' class="obligatory"></textarea>


<h2>How easy did you find the first half of the experiment (when we gave you words to learn)?</h2>

<label class="error" for="easytraining"></label>
<!-- <textarea id='easytraining' name='easytraining' class="obligatory"></textarea> -->
<p>
<label for='easytraining-0'>Not easy</label>
<input name='easytraining' type='radio' id='easytraining-0' value='0' class="obligatory" />
<input name='easytraining' type='radio' id='easytraining-1' value='1' class="obligatory" />
<input name='easytraining' type='radio' id='easytraining-2' value='2' class="obligatory" />
<input name='easytraining' type='radio' id='easytraining-3' value='3' class="obligatory" />
<input name='easytraining' type='radio' id='easytraining-4' value='4' class="obligatory" />
<label for='easytrainig-4'>Easy</label>
</p>


<h2>How well do you think you did in the second half of the experiment (when we tested you on what you had learned)?</h2>

<label class="error" for="secondhalf"></label>
<!-- <textarea id='secondhalf' name='secondhalf' class="obligatory"></textarea> -->
<p>
<label for='secondhalf-0'>Not well</label>
<input name='secondhalf' type='radio' id='secondhalf-0' value='0' class="obligatory" />
<input name='secondhalf' type='radio' id='secondhalf-1' value='1' class="obligatory" />
<input name='secondhalf' type='radio' id='secondhalf-2' value='2' class="obligatory" />
<input name='secondhalf' type='radio' id='secondhalf-3' value='3' class="obligatory" />
<input name='secondhalf' type='radio' id='secondhalf-4' value='4' class="obligatory" />
<label for='secondhalf-4'>Well</label>
</p>


<h2>How confident were you in your answers in the second half of the experiment, where you were tested on Pinglish words?</h2>

<label class="error" for="confidence"></label>
<p>
<label for='confidence-0'>Not confident</label>
<input name='confidence' type='radio' id='confidence-0' value='0' class="obligatory" />
<input name='confidence' type='radio' id='confidence-1' value='1' class="obligatory" />
<input name='confidence' type='radio' id='confidence-2' value='2' class="obligatory" />
<input name='confidence' type='radio' id='confidence-3' value='3' class="obligatory" />
<input name='confidence' type='radio' id='confidence-4' value='4' class="obligatory" />
<label for='confidence-4'>Confident</label>
</p>



<h2>Do you think there are rules or patterns about forming plurals in Pinglish or is it just random? If you think there are rules or patterns, what are they?</h2>

<label class="error" for="rules"></label>
<textarea id='rules' name='rules' class="obligatory"></textarea>



<h2>If you thought there were rules about forming plurals in Pinglish, did you try to follow them? If not, did you come up with your own rules?</h2>

<label class="error" for="followrules"></label>
<textarea id='followrules' name='followrules' class="obligatory"></textarea>



<h2>Do you have anything else to add?</h2>

<label class="error" for="suggestions"></label>
<textarea id='suggestions' name='suggestions' class="obligatory"></textarea>