.Tooltip {
    padding: 5px !important;
    font-family: sans-serif;
    border: outset 2px #DDD5;
    border-radius: 5px;
    font-style: italic;
    background: rgba(20,20,20,0.9) !important;
    color: white;
    overflow: visible !important;
    transform: translateX(25px);
}

.Tooltip:after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: rgba(20,20,20,0.9);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}